# web scraping

### scraping prices of different products from jiomart

#### importing libraries

In [1]:
from autoscraper import AutoScraper

## Fresh Fruits

In [8]:
url = "https://www.jiomart.com/c/groceries/fruits-vegetables/fresh-fruits/220"

In [9]:
List_items = ["₹ 40.00"]

In [35]:
scrape = AutoScraper()
result1 = scrape.build(url,List_items)
print(result1)

['₹ 40.00', '₹ 169.00', '₹ 159.00', '₹ 149.00', '₹ 64.00', '₹ 119.00', '₹ 39.00', '₹ 99.00', '₹ 49.00', '₹ 85.00', '₹ 109.00', '₹ 55.00', '₹ 89.00']

In [36]:
#Url = "https://www.jiomart.com/c/groceries/fruits-vegetables/fresh-fruits/220/page/2"

## freshfruits page 2

In [37]:
List_items = [" ₹ 119.00"]

In [38]:
scrape = AutoScraper()
result = scrape.build("https://www.jiomart.com/c/groceries/fruits-vegetables/fresh-fruits/220/page/2",List_items)
print(result)

['₹ 119.00', '₹ 189.00', '₹ 89.00']

### importing pandas library for making data frame

In [42]:
import pandas as pd

In [44]:
df1 = pd.DataFrame(result1)

In [45]:
df2 = pd.DataFrame(result)

In [47]:
vegandfru = pd.concat([df1,df2], axis=0)

In [48]:
vegandfru.head(15)

           0
0    ₹ 40.00
1   ₹ 169.00
2   ₹ 159.00
3   ₹ 149.00
4    ₹ 64.00
5   ₹ 119.00
6    ₹ 39.00
7    ₹ 99.00
8    ₹ 49.00
9    ₹ 85.00
10  ₹ 109.00
11   ₹ 55.00
12   ₹ 89.00
0   ₹ 119.00
1   ₹ 189.00

#### saving data to CSV file

In [50]:
vegandfru.to_csv('freshfruitsjio.csv')

## Vegetables

In [53]:
List_itemsveg = [" ₹ 12.00"]

In [55]:
scrape = AutoScraper()
resultveg1 = scrape.build("https://www.jiomart.com/c/groceries/fruits-vegetables/fresh-vegetables/229",List_itemsveg)
print(resultveg1)

['₹ 12.00', '₹ 42.00', '₹ 22.00', '₹ 32.00', '₹ 26.00', '₹ 34.50', '₹ 44.50', '₹ 21.00', '₹ 40.00', '₹ 27.00', '₹ 20.00', '₹ 39.00', '₹ 135.00', '₹ 18.00', '₹ 29.00', '₹ 34.00', '₹ 39.50', '₹ 8.00']

In [56]:
dfveg = pd.DataFrame(resultveg1)

In [57]:
dfveg.head(15)

           0
0    ₹ 12.00
1    ₹ 42.00
2    ₹ 22.00
3    ₹ 32.00
4    ₹ 26.00
5    ₹ 34.50
6    ₹ 44.50
7    ₹ 21.00
8    ₹ 40.00
9    ₹ 27.00
10   ₹ 20.00
11   ₹ 39.00
12  ₹ 135.00
13   ₹ 18.00
14   ₹ 29.00

In [58]:
dfveg.to_csv('vegjio.csv')

## Dairy Porducts

In [64]:
List_itemsdairy = ["₹ 59.00"]

In [65]:
scrape = AutoScraper()
resultdairy1 = scrape.build("https://www.jiomart.com/c/groceries/dairy-bakery/dairy/62",List_itemsdairy)
print(resultdairy1)

['₹ 59.00', '₹ 60.00', '₹ 116.00', '₹ 47.00', '₹ 11.50', '₹ 97.00', '₹ 61.00', '₹ 185.00', '₹ 18.00', '₹ 65.00', '₹ 26.25', '₹ 361.00', '₹ 49.00', '₹ 29.75', '₹ 455.00', '₹ 28.00']

In [66]:
dfdairy = pd.DataFrame(resultdairy1)

In [67]:
dfdairy.head()

          0
0   ₹ 59.00
1   ₹ 60.00
2  ₹ 116.00
3   ₹ 47.00
4   ₹ 11.50

In [68]:
dfdairy.to_csv('dairyjio.csv')

## Toast and Khari

In [70]:
List_itemstoastandkhari = ["₹ 33.75"]

In [71]:
scrape = AutoScraper()
resulttoastandkhari = scrape.build("https://www.jiomart.com/c/groceries/dairy-bakery/toast-khari/102",List_itemstoastandkhari)
print(resulttoastandkhari)

['₹ 33.75', '₹ 34.50', '₹ 37.50', '₹ 22.50', '₹ 30.00', '₹ 40.00', '₹ 99.04', '₹ 38.86', '₹ 65.66', '₹ 19.00']

In [72]:
dftoastandkhari = pd.DataFrame(resulttoastandkhari)

In [73]:
dftoastandkhari.head()

         0
0  ₹ 33.75
1  ₹ 34.50
2  ₹ 37.50
3  ₹ 22.50
4  ₹ 30.00

In [74]:
dftoastandkhari.to_csv('toastandkharijio.csv')

## Atta and Flours

In [76]:
List_itemsattaandflours = ["₹ 479.00"]

In [78]:
scrape = AutoScraper()
resultattaandflours = scrape.build("https://www.jiomart.com/c/groceries/staples/atta-flours-sooji/26",List_itemsattaandflours)
print(resultattaandflours)

['₹ 479.00', '₹ 39.00', '₹ 345.00', '₹ 25.00', '₹ 169.00', '₹ 22.00', '₹ 28.00', '₹ 74.00', '₹ 37.00', '₹ 38.00', '₹ 325.50', '₹ 32.55', '₹ 72.54', '₹ 20.00', '₹ 23.25', '₹ 80.10', '₹ 42.30', '₹ 38.70', '₹ 71.10']

In [79]:
dfattaandflours = pd.DataFrame(resultattaandflours)

In [80]:
dfattaandflours.head()

          0
0  ₹ 479.00
1   ₹ 39.00
2  ₹ 345.00
3   ₹ 25.00
4  ₹ 169.00

In [81]:
dfattaandflours.to_csv('attaandfloursjio.csv')

## Dals and pulses

In [83]:
List_itemsdalandpulces = ["₹ 66.00"]

In [84]:
scrape = AutoScraper()
resultdalandpulces = scrape.build("https://www.jiomart.com/c/groceries/staples/dals-pulses/17",List_itemsdalandpulces)
print(resultdalandpulces)

['₹ 66.00', '₹ 144.00', '₹ 46.00', '₹ 135.00', '₹ 129.00', '₹ 69.00', '₹ 51.00', '₹ 90.00', '₹ 59.52', '₹ 75.00', '₹ 80.00', '₹ 46.50', '₹ 172.05', '₹ 119.00']

In [85]:
dfdalandpulces = pd.DataFrame(resultdalandpulces)

In [86]:
dfdalandpulces.head()

          0
0   ₹ 66.00
1  ₹ 144.00
2   ₹ 46.00
3  ₹ 135.00
4  ₹ 129.00

In [93]:
dfdalandpulces.to_csv('dalandpulcesjio.csv')

## Rice and rice products

In [89]:
List_itemsriceandriceprod = ["₹ 68.00"]

In [90]:
scrape = AutoScraper()
resultriceandriceprod = scrape.build("https://www.jiomart.com/c/groceries/staples/rice-rice-products/14",List_itemsriceandriceprod)
print(resultriceandriceprod)

['₹ 68.00', '₹ 339.00', '₹ 495.00', '₹ 545.00', '₹ 99.00', '₹ 499.00', '₹ 229.00', '₹ 179.00', '₹ 879.00', '₹ 289.00', '₹ 235.00', '₹ 195.00', '₹ 589.00', '₹ 29.00', '₹ 389.00', '₹ 46.33', '₹ 39.00', '₹ 27.00', '₹ 49.00']

In [91]:
dfriceandriceprod = pd.DataFrame(resultriceandriceprod)

In [92]:
dfriceandriceprod.head()

          0
0   ₹ 68.00
1  ₹ 339.00
2  ₹ 495.00
3  ₹ 545.00
4   ₹ 99.00

In [94]:
dfriceandriceprod.to_csv('riceandriceprodjio.csv')

## Masalas

In [96]:
List_itemsmasalas = ["₹ 52.20"]

In [98]:
scrape = AutoScraper()
resultmasala = scrape.build("https://www.jiomart.com/c/groceries/staples/masalas-spices/21",List_itemsmasalas)
print(resultmasala)

['₹ 52.20', '₹ 62.00', '₹ 33.48', '₹ 18.60', '₹ 44.00', '₹ 161.10', '₹ 41.85', '₹ 59.40', '₹ 56.70', '₹ 67.50', '₹ 31.00', '₹ 82.77', '₹ 58.50', '₹ 138.00', '₹ 55.80', '₹ 29.00', '₹ 68.00', '₹ 64.80', '₹ 63.00', '₹ 48.60']

In [99]:
dfmasalas = pd.DataFrame(resultmasala)

In [100]:
dfmasalas.head()

         0
0  ₹ 52.20
1  ₹ 62.00
2  ₹ 33.48
3  ₹ 18.60
4  ₹ 44.00

In [106]:
dfmasalas.to_csv('masalasjio.csv')

## salt sugar and jaggery

In [102]:
List_itemssaltsugarjaggery = ["₹ 215.00"]

In [103]:
scrape = AutoScraper()
resultsaltsugarjaggery = scrape.build("https://www.jiomart.com/c/groceries/staples/salt-sugar-jaggery/23",List_itemssaltsugarjaggery)
print(resultsaltsugarjaggery)

['₹ 215.00', '₹ 195.00', '₹ 35.00', '₹ 99.00', '₹ 18.00', '₹ 60.00', '₹ 41.00', '₹ 80.50', '₹ 79.00', '₹ 97.00', '₹ 134.85', '₹ 153.00', '₹ 47.00', '₹ 19.00', '₹ 32.00', '₹ 34.00', '₹ 89.00', '₹ 55.00']

In [104]:
dfsaltsugarjaggery = pd.DataFrame(resultsaltsugarjaggery)

In [105]:
dfsaltsugarjaggery.head()

          0
0  ₹ 215.00
1  ₹ 195.00
2   ₹ 35.00
3   ₹ 99.00
4   ₹ 18.00

In [107]:
dfsaltsugarjaggery.to_csv('saltsugarjaggeryjio.csv')

## Dry fruits and nuts

In [109]:
List_itemsdryfruiteandnuts = ["₹ 149.00"]

In [110]:
scrape = AutoScraper()
resultdryfruiteandnuts = scrape.build("https://www.jiomart.com/c/groceries/staples/dry-fruits-nuts/657",List_itemsdryfruiteandnuts)
print(resultdryfruiteandnuts)

['₹ 149.00', '₹ 239.00', '₹ 109.00', '₹ 215.00', '₹ 629.00', '₹ 145.00', '₹ 319.00', '₹ 283.65', '₹ 134.85', '₹ 269.00', '₹ 299.00', '₹ 249.00', '₹ 99.00', '₹ 100.44', '₹ 106.95']

In [111]:
dfdryfruiteandnuts = pd.DataFrame(resultdryfruiteandnuts)

In [112]:
dfdryfruiteandnuts.head()

          0
0  ₹ 149.00
1  ₹ 239.00
2  ₹ 109.00
3  ₹ 215.00
4  ₹ 629.00

In [113]:
dfdryfruiteandnuts.to_csv('dryfruiteandnutsjio.csv')

In [119]:
fd21 = pd.concat([dfdryfruiteandnuts,dfsaltsugarjaggery], axis=1)

In [134]:
fd22 = pd.concat([fd21, dfmasalas], axis=1)

In [135]:
fd23 = pd.concat([fd22, dfriceandriceprod], axis=1)

In [136]:
fd24 = pd.concat([fd23, dfdalandpulces], axis=1)

In [137]:
fd25 = pd.concat([fd24, dfattaandflours], axis=1)

In [138]:
fd26 = pd.concat([fd25, dftoastandkhari], axis=1)

In [139]:
fd27 = pd.concat([fd26, dfdairy], axis=1)

In [140]:
fd28 = pd.concat([fd27, dfveg], axis=1)

In [141]:
fd29 = pd.concat([fd28, df1], axis=1)

In [161]:
fd29.head()

,0,0,0,0,0,0,0,0,0,0
0,₹ 149.00,₹ 215.00,₹ 52.20,₹ 68.00,₹ 66.00,₹ 479.00,₹ 33.75,₹ 59.00,₹ 12.00,₹ 40.00
1,₹ 239.00,₹ 195.00,₹ 62.00,₹ 339.00,₹ 144.00,₹ 39.00,₹ 34.50,₹ 60.00,₹ 42.00,₹ 169.00
2,₹ 109.00,₹ 35.00,₹ 33.48,₹ 495.00,₹ 46.00,₹ 345.00,₹ 37.50,₹ 116.00,₹ 22.00,₹ 159.00
3,₹ 215.00,₹ 99.00,₹ 18.60,₹ 545.00,₹ 135.00,₹ 25.00,₹ 22.50,₹ 47.00,₹ 32.00,₹ 149.00
4,₹ 629.00,₹ 18.00,₹ 44.00,₹ 99.00,₹ 129.00,₹ 169.00,₹ 30.00,₹ 11.50,₹ 26.00,₹ 64.00

In [163]:
fd29.to_csv('jiomart.csv')

In [164]:
df30 = pd.read_csv("jiomart.csv")

In [ ]:
#d30 = df.drop('Unnamed: 0', axis=1)

In [165]:
df30.head()

,Unnamed: 0,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,0,₹ 149.00,₹ 215.00,₹ 52.20,₹ 68.00,₹ 66.00,₹ 479.00,₹ 33.75,₹ 59.00,₹ 12.00,₹ 40.00
1,1,₹ 239.00,₹ 195.00,₹ 62.00,₹ 339.00,₹ 144.00,₹ 39.00,₹ 34.50,₹ 60.00,₹ 42.00,₹ 169.00
2,2,₹ 109.00,₹ 35.00,₹ 33.48,₹ 495.00,₹ 46.00,₹ 345.00,₹ 37.50,₹ 116.00,₹ 22.00,₹ 159.00
3,3,₹ 215.00,₹ 99.00,₹ 18.60,₹ 545.00,₹ 135.00,₹ 25.00,₹ 22.50,₹ 47.00,₹ 32.00,₹ 149.00
4,4,₹ 629.00,₹ 18.00,₹ 44.00,₹ 99.00,₹ 129.00,₹ 169.00,₹ 30.00,₹ 11.50,₹ 26.00,₹ 64.00

In [187]:
d31 = df30.drop('Unnamed: 0', axis=1)

In [188]:
df31 = df30.rename(columns={'0': 'fruits', '0.1': 'vegetables', '0.2': 'Dairy', '0.3': 'toast & Khari', '0.4':'Atta & Flours','0.5': 'Dal & Pulces',
                            '0.6': 'Rice & rice products', '0.7':'Masalas', '0.8': 'Salt-Sugar-Jaggery', '0.9': 'Dry Fruits'})

In [189]:
df31.head()

,Unnamed: 0,fruits,vegetables,Dairy,toast & Khari,Atta & Flours,Dal & Pulces,Rice & rice products,Masalas,Salt-Sugar-Jaggery,Dry Fruits
0,0,₹ 149.00,₹ 215.00,₹ 52.20,₹ 68.00,₹ 66.00,₹ 479.00,₹ 33.75,₹ 59.00,₹ 12.00,₹ 40.00
1,1,₹ 239.00,₹ 195.00,₹ 62.00,₹ 339.00,₹ 144.00,₹ 39.00,₹ 34.50,₹ 60.00,₹ 42.00,₹ 169.00
2,2,₹ 109.00,₹ 35.00,₹ 33.48,₹ 495.00,₹ 46.00,₹ 345.00,₹ 37.50,₹ 116.00,₹ 22.00,₹ 159.00
3,3,₹ 215.00,₹ 99.00,₹ 18.60,₹ 545.00,₹ 135.00,₹ 25.00,₹ 22.50,₹ 47.00,₹ 32.00,₹ 149.00
4,4,₹ 629.00,₹ 18.00,₹ 44.00,₹ 99.00,₹ 129.00,₹ 169.00,₹ 30.00,₹ 11.50,₹ 26.00,₹ 64.00

In [190]:
df31.to_csv('jiomart2.csv')

In [191]:
df31.shape

(20, 11)

In [192]:
dff = df31.drop('Unnamed: 0', axis=1)

In [193]:
dff.head()

,fruits,vegetables,Dairy,toast & Khari,Atta & Flours,Dal & Pulces,Rice & rice products,Masalas,Salt-Sugar-Jaggery,Dry Fruits
0,₹ 149.00,₹ 215.00,₹ 52.20,₹ 68.00,₹ 66.00,₹ 479.00,₹ 33.75,₹ 59.00,₹ 12.00,₹ 40.00
1,₹ 239.00,₹ 195.00,₹ 62.00,₹ 339.00,₹ 144.00,₹ 39.00,₹ 34.50,₹ 60.00,₹ 42.00,₹ 169.00
2,₹ 109.00,₹ 35.00,₹ 33.48,₹ 495.00,₹ 46.00,₹ 345.00,₹ 37.50,₹ 116.00,₹ 22.00,₹ 159.00
3,₹ 215.00,₹ 99.00,₹ 18.60,₹ 545.00,₹ 135.00,₹ 25.00,₹ 22.50,₹ 47.00,₹ 32.00,₹ 149.00
4,₹ 629.00,₹ 18.00,₹ 44.00,₹ 99.00,₹ 129.00,₹ 169.00,₹ 30.00,₹ 11.50,₹ 26.00,₹ 64.00

In [194]:
dff.to_csv('jiomart.csv')